.font28-36-semi-bold {
  /* 28px-36lh-semibold */
  font-family: @font-content;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */
}

.font16-24-semi-bold {
  /* 16px-24lh-semimold */
  font-family: @font-content;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
}

.font14-20-semi-bold {
  /* 14px-20lh-semibold */
  font-family: @font-content;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
}

.font14-20-regular {
  /* 14px-20lh-reg */
  font-family: @font-content;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
}

.font12-16-regular {
  /* 12px-16lh-reg */
  font-family: @font-content;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
}

/*
@primaryBlack: #262626;
@primaryWhite: #FFFFFF;

@primaryPurple: #705AD3;
@primaryPurpleLight: #F4F2FC;
@primaryGray: #7D7D7D;
@primaryDarkGray: #515151;
@primaryLightGray: #B3B3B3;

@primaryLine: #EBEBEB;
@primaryBackground: #F7F7F7;
*/
.colorPrimaryBlack {
  color: @primaryBlack;
}
.colorPrimaryWhite {
  color: @primaryWhite;
}
.colorPrimaryPurple {
  color: @primaryPurple;
}
.colorPrimaryPurpleLight {
  color: @primaryPurpleLight;
}
.colorPrimaryGray {
  color: @primaryGray;
}
.colorPrimaryDarkGray {
  color: @primaryDarkGray;
}
.colorPrimaryLightGray {
  color: @primaryLightGray;
}

.pb0 {
  padding-bottom: 0;
}

.pb20 {
  padding-bottom: 20px;
}

.p0 {
  padding: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mb20 {
  margin-bottom: 20px;
}

.m0 {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 5px @primaryLightGray;
  background-color: @primaryBackground;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DEDEDE;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @primaryLightGray;
}
