@import "./theme/theme.less";

#root {
  width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  color: @primaryDarkGray;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* PANELS PAGE */
.panels-page {

  .panels-job-title {
    .font12-16-regular();
    margin-bottom: 8px;
    margin-left: 16px;
  }

  .panels-header {
    .font16-24-semi-bold();
    margin-left: 16px;
  }

  .panels-job-place {
    .font12-16-regular();
    margin-top: 20px;

  }
}
